/* @import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap'); */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Title {
  width: 100%;
  height: 30px;
  font-size: large;
  background-color: lightblue;
}

.TitleName {
  width: 100%;
  height: 20px;
  background-color: lightblue;
} 

.NavBar {
  height: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.5rem 0rem;
  background-color:rgba(60, 25, 158, 0.23);
  color: black;
  box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
}

.NavBar *{
  display: inline;
}
.NavLink {
  margin: 20px;
}

.LoginButton {
  margin: 20px;
  float: right;
}